*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    margin:auto;
    color: white;
    text-align: center;
    width: 40%;
}

.input{
    width: 100%;
    padding: 8px;
    margin: 2px;
    border-radius: 7px;
}

.sim{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    
}

.butao{
    background-color: rgb(46, 46, 250);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 19px;
}